.cards__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background: url("../../../images/icon/trash.svg") no-repeat;
  border: none;
  visibility: hidden;
}

.cards__trash:hover {
  opacity: 60%;
  cursor: pointer;
}
